@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply w-full h-full;
}

@font-face {
  font-family: 'Flanders Art Sans';
  src: url('./fonts/flanders/sans/FlandersArtSans-Light.woff2') format('woff2'),
    url('./fonts/flanders/sans/FlandersArtSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Flanders Art Sans';
  src: url('./fonts/flanders/sans/FlandersArtSans-Regular.woff2') format('woff2'),
    url('./fonts/flanders/sans/FlandersArtSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Flanders Art Sans';
  src: url('./fonts/flanders/sans/FlandersArtSans-Medium.woff2') format('woff2'),
    url('./fonts/flanders/sans/FlandersArtSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Flanders Art Sans';
  src: url('./fonts/flanders/sans/FlandersArtSans-Bold.woff2') format('woff2'),
    url('./fonts/flanders/sans/FlandersArtSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
