{
  "replicator": {
    "ldes": [
      {
        "url": "https://smartdata.dev-vlaanderen.be/base/straatnaam"
      },
      {
        "url": "https://smartdata.dev-vlaanderen.be/base/postinfo",
        "shapeUrl": "/home/cruizher/Documents/shape.ttl"
      }
    ],
    "state": {
      "id": "replicator",
      "host": "localhost"
    },
    "polling_interval": 5000
  },
  "connectors": {
    "PG": {
      "type": "@ldes/ldes-postgres-connector",
      "settings": {
        "username": "postgres",
        "password": "postgres",
        "database": "postgres",
        "hostname": "localhost",
        "port": 5432
      }
    }
  }
}
