{
  "replicator": {
    "ldes": [
      {
        "url": "https://treecg.github.io/Blue-Bike-to-OSLO/root.ttl"
      }
    ],
    "state": {
      "id": "replicator",
      "host": "localhost",
      "port": 6379
    },
    "polling_interval": 5000,
    "requestsPerMinute": 6
  },
  "connectors": {
    "ngsild": {
      "type": "@treecg/connector-write-ngsi-ld",
      "settings": {
        "tokenEndpoint": "",
        "clientId": "",
        "clientSecret": "",
        "ngsiEndpoint": "http://localhost:9090/ngsi-ld/v1/"
      }
    }
  }
}